h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
    margin-top: 20px;
}

button {
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 22px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.anim-show {
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
    transform: translate(0px, 0px);
    opacity: 1;
}
