@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Base
@import './common';
@import './base/base';
@import './base/reset';
@import './base/containers';


// Utils
@import './utils/variables';
@import './utils/v-hidden';
@import './utils/mixins';
@import './utils/placeholders';


// Components
@import './components/button';
@import './components/start';
@import './components/logo';
@import './components/title';
@import './components/location';
@import './components/modal';
@import './components/feedback';
@import './components/form';
@import './components/notification';
@import './components/slot';

