:root {
        // Fonts
        --title-font: 'Playfair Display', sans-serif;
        --primary-font: 'Roboto', sans-serif;

        // Colors
        --primary-text: #ffffff;
        --secondary-text: #131313; 
        --additional-text: #7a7a7a;
        --modal-text: #000000;
        --gray-text: #555555;

        --accent: #8e705d;
        // --accent: #af9879;
        --disabled: #E1DACA;
        --location-line: #E1DACA;
        --feedback: #EFE7DC;
        // --primary-bg: #f5f5eb;
        --primary-bg: #efefe9;

        --form-placeholder: #e1daca;
        --line-gray:#A7A7A7;
       

        --btn-bg: #c3a28d;
        --btn-bg-hover: #977c6c;
        --btn-bg-disabled: #ABABAB;
        --btn-close: #868686;
        --btn-border: #C2B5A4;

        // Gradients
        --input-bg: rgba(248, 210, 78, 0.1);

        --first-prod-gr: linear-gradient(0deg, #2bdbdb, #2bdbdb),
                #D9D9D9;
        --second-prod-gr: (0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
                #D9D9D9;
        --third-prod-gr: (0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
                #D9D9D9;
        --about-gr: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
                #D9D9D9;
        --overlay-gr: rgba(0, 0, 0, .5);


        //Container
        --container-padding: 40px;
        --container-width:400px;

        // Shadows

        --btn-shadow: 0px 6px 8px rgba(0, 0, 0, 0.18);
}

// breake points
$mobile: 390px;
$tablet: 768px;
$desktop: 1200px;

// transition

$trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-hover: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-brd: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-trnsf: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)