.form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.feedback__formbox{
    width: 90%;
}

.form__inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__input{
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--form-placeholder);
    
}

.form__input:hover,
.form__input:focus{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--accent);
}

.form__input::placeholder{
    color: var(--form-placeholder);
}

.form__name{
    margin-bottom: 20px;
}

.form__textarea{
    resize: none;
}

.form__error{
    margin-top: -15px;
    color: var(--additional-text);
    font-size: 10px;
}