.logo{
    display: flex;
    align-items:center;
    margin-bottom: 24px;
}
.logo__img{
    width: 40px;
    border-radius: 8px;
}

.logo__title{
    width: 230px;
    height: 18px;
    margin-top: 4px;
}
