.modal__overlay{
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba(27, 26, 26, 0.492);
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.rightmodal{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__arrowback{
    position: absolute;
    top: 5px;
    left: 0;

    background-color: transparent;
    color: var(--btn-bg);
    z-index: 90;
    cursor: pointer;
}

.modal__arrowforward{
    position: absolute;
    top: 5px;
    right: 0;

    background-color: transparent;
    color: var(--btn-bg);
    z-index: 90;
    cursor: pointer;
}


