.start{
    margin: 60px auto;
}

.start__title{
    margin-bottom: 10px;
}

.start__list{
    margin-bottom: 92px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
}

.start__location{
    margin-bottom: 40px;
    display: flex;
    border-bottom: solid 1px var(--location-line);
}

.start__subtitle{
margin-right: 86px;
}

.start__leftmodals{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 102px;
}

.start__downmodal{
    // margin-top: auto;
}